* {
  font-family: arial;
}
.btn {
  outline: none
}
a {
  cursor: pointer;
}
.btn.disabled.nohover, .btn[disabled].nohover {
  cursor: default;
  outline: none
}
.centered {
  text-align: center
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.vcentered{
  vertical-align: middle
}
.title {
  font-size: 42px;
  text-align: center;
  width: auto;
  display: inline-block;
}
table {
  width: 100%;
  table-layout: fixed;
}
.big {
  font-size: 24px;
}
.value {
  text-align: center;
}
.tooltip-inner {
  white-space:pre-wrap;
}
.panel-default.panel-wisdom >.panel-heading{
background: #ca950f; color: #fff; }
.panel-default.panel-readiness >.panel-heading{
background: #3ab68b; color: #fff; 
}
.panel-default.panel-readiness {
border-color: #3ab68b; 
}
.label-wisdom {
background: #ca950f; color: #fff; }
.questLimitExceeded{
  position: fixed;

  top: 0px;
  margin-left: 25%;
  width: 50%;
}
.questLimitExceeded .modal-content{
  background-color: #d9534f
}
.badge-level{
  background-color: #737232
}

a.completed{
  background-color: rgba(0, 128, 0, 0.2)
}
.nav>li:not(.active)>a.completed:hover{
  background-color: rgba(64, 128, 64, 0.4)
}

a.inProgress{
  background-color: rgba(128, 128, 0, 0.2)
}
.nav>li:not(.active)>a.inProgress:hover{
  background-color: rgba(128, 128, 64, 0.4)
}

a.failed{
  background-color: rgba(128, 0, 0, 0.2)
}
.nav>li:not(.active)>a.failed:hover{
  background-color: rgba(128, 64, 64, 0.4)
}

a.equippedByCurrent{
  background-color: rgba(0, 128, 128, 0.2)
}
.nav>li:not(.active)>a.equippedByCurrent:hover{
  background-color: rgba(64, 128, 128, 0.4)
}

a.equipped{
  background-color: rgba(128, 128, 0, 0.2)
}
.nav>li:not(.active)>a.equipped:hover{
  background-color: rgba(128, 64, 0, 0.4)
}

a.bought{
  background-color: rgba(128, 128, 192, 0.2)
}
.nav>li:not(.active)>a.bought:hover{
  background-color: rgba(160, 160, 192, 0.4)
}

.wordwrap {
  word-wrap: break-word;
  white-space: normal;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.btn.buy {
  background-color: rgb(160, 160, 0)
}
.btn.buy:hover {
  background-color: rgb(192, 192, 0)
}
.btn.buy.disabled, .btn.buy[disabled] {
  background-color: rgb(128, 128, 0)
}

.btn.equip {
  background-color: rgb(64, 64, 192);
  border-color: rgb(64, 64, 192)
}
.btn.equip:hover {
  background-color: rgb(96, 96, 192);
  border-color: rgb(96, 96, 192)
}
.btn.equip.disabled, .btn.equip[disabled] {
  background-color: rgb(64, 64, 128);
  border-color: rgb(64, 64, 128);
}

.btn.unequip {
  background-color: rgb(64, 64, 192);
  border-color: rgb(64, 64, 192)
}
.btn.unequip:hover {
  background-color: rgb(96, 96, 192);
  border-color: rgb(96, 96, 192)
}
.btn.unequip.disabled, .btn.unequip[disabled] {
  background-color: rgb(64, 64, 128);
  border-color: rgb(64, 64, 128);
}
.progress.progress-health {
  background-color: rgb(224, 192, 192);
  height: 24px;
}
.progress.progress-health .progress-bar{
  background-color: rgb(224, 64, 64);
}
.progress.progress-mana {
  background-color: rgb(192, 192, 224);
  height: 24px;
}
.progress.progress-mana .progress-bar{
  background-color: rgb(64, 64, 224);
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.unitPanel{
  width: 20%;
  margin: 4px;
  display:inline-block;
}
.abilityPanel{
  width: 10%;
  margin: 4px;
  display:inline-block;
}
.abilityPanel {
  background: rgb(240, 240, 240);  
}
.abilityPanel:hover {
  background: rgb(210, 210, 210);
}
.abilityPanel.selected {
  background: rgb(54, 170, 180); color: #fff; 
}
.abilityPanel.selected:hover {
  background: rgb(54, 170, 180); color: #fff; 
}
.abilityPanel.disabled {
  background: rgb(250, 250, 250); color: #888;
  cursor: default;
  outline: none;
}
.abilityPanel.selected.disabled {
  background: rgb(104, 170, 180); color: #fff; 
}
.units {
}
.unitPanel, .abilityPanel{
  cursor:pointer;
}
.panel-default.unitPanel.selected{
  border-color: rgb(64, 192, 160);
}
.unitPanel.mover .name{
  font-size: 200%;
}
.panel-default.unitPanel >.panel-heading{
  background: rgb(64, 192, 160); color: #fff; 
}
.panel-default.unitPanel:hover >.panel-heading{
  background: rgb(54, 180, 170); color: #fff; 
}
.panel-default.unitPanel.selected >.panel-heading{
  background: rgb(54, 170, 180); color: #fff; 
}
.panel-default.unitPanel.selected:hover >.panel-heading{
  background: rgb(54, 170, 180); color: #fff; 
}
.panel-default.unitPanel >.panel-body{
  background: rgb(240, 240, 240); 
}
.panel-default.unitPanel:hover >.panel-body{
  background: rgb(210, 210, 210); 
}
.panel-default.unitPanel>.targetSign{
  display: none;
}
.hit>.panel-default.unitPanel:hover>.targetSign{
  display: block;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}
